.item-2hkk8m {
    background-color: #9bef7e !important;
    margin-top: -18px !important;
    margin-left: 0px;
    box-shadow: 0px 8px #ff2a2a;
}

.sidebar-2K8pFh {
    height: 50vh !important;
}


/* Inline #3 | https://discord.com/channels/375400161800617985/375400161800617987 */

.chat-3bRxxu {
}

.chat-3bRxxu {
}

.scroller-2FKFPG.systemPad-3UxEGl.members-1998pB {
  width: 200px !important;
}

/* Inline #3 | https://discord.com/channels/375400161800617985/375400161800617987 */

.chat-3bRxxu, .form-2fGMdU {
  overflow: visible;
}

.membersWrap-2h-GB4.hiddenMembers-2dcs_q {
  /* left: -10px; */
  left: -200px !important;
  width: 200px;
}



/* Inline #3 | https://discord.com/channels/375400161800617985/375400161800617987 */


.membersWrap-2h-GB4.hiddenMembers-2dcs_q {
  position: absolute;
  left: -30px;
  z-index: 100;
}

.sidebar-2K8pFh {
}

.sidebar-2K8pFh {
  z-index: 50;
}

.membersWrap-2h-GB4.hiddenMembers-2dcs_q {
  /* z-index: 100; */
  z-index: 200;
  overflow: visible;
  display: inline-block;
}

.content-yTz4x3 {
  overflow: visible;
}

.membersWrap-2h-GB4.hiddenMembers-2dcs_q {
  /* top: ""; */
  top: 50%;
  height: 50%;
}

.app-1q1i1E {
}

.app-1q1i1E {
}

.app-1q1i1E {
}

.sidebar-2K8pFh {
  /* z-index: 50; */
  z-index: 1;
}


.content-yTz4x3 {
  z-index: 200;
}

.base-3dtUhz {
}

.content-yTz4x3 {
  display: contents;
}

/* 0.2f0a09e23674208cef24.css | https://discord.com/assets/0.2f0a09e23674208cef24.css */

.app-1q1i1E {
  /* z-index: auto; */
  z-index: 0;
}

.chat-3bRxxu, .form-2fGMdU {
  /* position: relative; */
  z-index: 10;
}

.scrollerWrap-2lJEkd {
  /* position: relative; */
}

.scroller-2FKFPG {
  /* position: relative; */
}

/* Element | https://discord.com/channels/375400161800617985/375400161800617987 */

.content-yTz4x3 {
  margin-left: -100px;
  padding-left: 100px;
}

/* Inline #3 | https://discord.com/channels/375400161800617985/375400161800617987 */

.members-1998pB {
  /* width: auto !important; */
  width: 170px !important;
}


.notice {
  display: none !important;
}


.members-1998pB {
    width: auto !important;
}
.membersWrap-2h-GB4 {
    min-width: 0px !important;
}


/* 0.cf4767226404ecabb71d.css | https://discordapp.com/assets/0.cf4767226404ecabb71d.css */

.scrollerWrap-1IAIlv {
  /* width: 90px !important; */
  width: 68px !important;
}

.wrapper-sa6paO {
  /* width: 8px !important; */
  /* width: 0px !important; */
  z-index: 1000;
}

.listItem-2P_4kh {
  /* width: 72px !important; */
  width: 48px !important;
}

.scrollerWrapPolyfill-DBQCMm .scroller-2FKFPG.systemPad-3UxEGl {
  /* padding-right: 17px !important; */
  padding-right: 0 !important;
}

.scroller-2TZvBN {
  /* padding: 12px 0 0 !important; */
  padding: 0 !important;
}

.unreadMentionsIndicatorTop-gA6RCh {
  /* padding-top: 8px !important; */
  padding-top: 0 !important;
}

.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
  /* padding: 8px !important; */
  /* width: 72px !important; */
  padding: 0 !important;
  width: 48px !important;
}

.wrapper-1Rf91z {
  /* width: 72px !important; */
  width: 48px !important;
}

.base-3dtUhz {
  /* left: 72px !important; */
  left: 50px !important;
}

.sidebar-2K8pFh {
  /* width: 240px !important; */
  width: 200px !important;
}

.content-3at_AU {
  /* padding: 0 8px !important; */
  /* margin: 1px 0 1px 8px !important; */
  padding: 0 !important;
  margin: 0 !important;
}

.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
  /* padding-top: 16px !important; */
  padding-top: 0 !important;
}

.containerCozy-jafyvG {
  /* padding-top: 20px !important; */
  /* padding-bottom: 20px !important; */
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.avatar-17mtNa {
  /* margin-right: 20px !important; */
  /* margin-left: 20px !important; */
  /* margin-bottom: 20px !important; */
  margin-right: 4px !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

.contentCozy-3XX413 {
  /* margin-left: 80px !important; */
  margin-left: 60px !important;
}

.membersGroup-v9BXpm {
  /* padding: 24px 8px 0 16px !important; */
  /* height: 40px !important; */
  padding: 4px !important;
  height: auto !important;
}

.member-3W1lQa {
  /* margin-left: 8px !important; */
  margin-left: 0 !important;
}

.guildSeparator-3s64Iy {
  display: none !important;
}

.header-2o-2hj {
  /* height: 48px !important; */
  height: 30px !important;
}

.container-1r6BKw {
  /* height: 48px !important; */
  height: 30px !important;
}

.icon-1_QxNX {
  /* margin-right: 6px !important; */
  margin-right: 2px !important;
}

/* Element | https://discordapp.com/channels/148103787259756544/148103787259756544 */

.scroller-2wx7Hm > div:nth-child(1) {
  /* width: 100% !important; */
  width: 200px !important;
}

/* Element | https://discordapp.com/channels/148103787259756544/148103787259756544 */

.modeSelected-1zApJ_ {
  /* padding-left: 5px !important; */
  padding-left: 0px !important;
}
