#u_0_k {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 770px, rgb(31, 58, 113) 870px);
}


.rNubContainer ._50-v.opened, .rNubContainer ._50-v.openToggler {
    margin-left: 0px;
}
._59v1 ._5qib {
    margin: 0 0 0 0px;
}
._3001 {
    width: 180px;
}
.fbDockWrapper {
    margin: 0px;
}


._4po7{
    height: 600px;
}
._s0f ._2sz2 {
    height: 700px;
}


.rNubContainer ._50-v {
    margin-left: 0px;
}
.fbChatSidebar {
    width: 150px;
}
._55lr {
    line-height: 18px;
}
._55lr, ._55ls {
    padding-left: 0px;
}
._55lp {
    padding-left: 2px;
}
._1gyw {
    border-radius: 10%;
}
.sidebarMode .fbDockWrapperRight {
    right: 150px;
}
.sidebarMode #globalContainer {
    padding-right: 0px;
}
#globalContainer {
    margin: 0 0;
}

div._1qks {

    width: 120px !important;

}
._2t-d {
    margin: 0px;
}