#header, nav, #footer-wrapper, #complete_day, .cont-0, .note-container, .google_ads_with_related_links, #sidebar, .water-notes-v2.block, #create-item, #sort-block{
    display:none !important;
}

#wrap{
    background-color: #DDD !important;
}
html, #food-diary{
    background-color: #222 !important;
}

#navTop li {
  display: none !important;
}

body[data-lang="en"] #navTop li.first {
  display: block !important;
}


.header-wrap.clearfix{
    line-height: 0.2em !important;
}

.fancylink{
    display: block !important;
}



[class^="icon-"], [class*=" icon-"] {
    font-size: 60% !important;
}

body#food-add a#meal_name, body#food-add div#sort_toggle_en a#current_sort {
    background: none !important;
}


div.diary {
    border-bottom: 0 !important;
}

#wrap, #content{
    width:auto !important;
}

*, body#excerciseSearch div.block-1{
    padding:0 !important;
    margin:0 !important;
    width: auto !important;
	height: auto !important;
}

body{
    line-height: 1.2em !important;
}

body#excerciseSearch div.block-4 div.col-2 {
    position: relative !important;
}

body#excerciseSearch.searchadd div#content-block.block-4 ul#matching {
  width: 100% !important;
}

body#excerciseSearch.searchadd div#content-block.block-4 div.col-1 {
  width: 60% !important;
  position: relative !important;
}

body#excerciseSearch.foodsearch div#content-block.block-4 div.col-2.block-3 {
    width: 40% !important;
}

body#excerciseSearch.foodsearch div#content-block.block-4 div.col-2.block-3 {
    height: auto;
    width: auto;
}